/* tailwind.css or your custom stylesheet */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --bg-primary: #f7f6f9;
  --font-family: "Poppins", sans-serif;
}

@media (max-width: 770px) {
  .mbView.hide {
    display: none;
  }
  .btn {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
  }
  .open {
    left: 14rem;
  }
}

@layer utilities {
  /* Light Theme */
  .bg-stock-primary {
    background-color: #1a5e27;
  }

  .text-stock-primary {
    color: #28a745;
  }

  .border-stock-primary {
    border-color: #28a745;
  }

  .bg-stock-light {
    background-color: #d4edda;
  }

  .text-stock-light {
    color: #d4edda;
  }

  .border-stock-light {
    border-color: #d4edda;
  }

  .bg-stock-secondary {
    background-color: #ffc107;
  }

  .text-stock-secondary {
    color: #ffc107;
  }

  .border-stock-secondary {
    border-color: #ffc107;
  }

  .bg-stock-tertiary {
    background-color: #007bff;
  }

  .text-stock-tertiary {
    color: #007bff;
  }

  .border-stock-tertiary {
    border-color: #007bff;
  }
  

  /* Hover States */
  .bg-hover-primary {
    background-color: #28a745; /* Adjusted for higher contrast */
  }
  .text-hover-primary {
    color: #155724; /* Darker text on hover */
  }
  .text-hover-light {
    color: #4aa84a; /* Adjusted for higher contrast */
  }

  .border-hover-secondary {
    border-color: #cda200; /* Adjusted for higher contrast */
  }

  .bg-hover-secondary {
    background-color: #d6d8db; /* Lighter background on hover */
  }

  .bg-hover-tertiary {
    background-color: #004b8f; /* Adjusted for higher contrast */
  }
  .text-hover-tertiary {
    color: #002855; /* Darker text on hover */
  }
  .border-hover-tertiary {
    border-color: #002855; /* Darker border on hover */
  }

}
